ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: lightgreen;
    justify-content: space-evenly;
}
.first{
    margin-right: 200px;
}
img{
    width: 100px;
    height: auto;
}
.same{
    padding: 10px;
}
